<link rel="stylesheet" href="/css/botoes-navegacao.css">

<div id="botoes-navegacao" class="botoes-navegacao">
    <div class="retroceder">
        <i id="btn-retroceder" class='bx bx-chevron-left'></i>
    </div>
    <div id="imagem-perfil-content" class="botoes-navegacao imagem-perfil-content">
        <div id="deslogar-content" class="deslogar-content">
            <h1 class="deslogar-titulo">Deslogar</h1>
            <i id="deslogar-i" class="bx bx-log-out-circle deslogar-i"></i>
        </div>
        <img id="imagem-perfil"  alt="" srcset="">
    </div>
</div>

<script src="/js/botoes-navegacao.js"></script>
