<link rel="stylesheet" href="/css/botoes-navegacao.css">

<div id="botoes-navegacao" class="botoes-navegacao">
    <div class="retroceder">
        <i id="btn-retroceder" class='bx bx-chevron-left'></i>
    </div>
    <div class="botoes-navegacao imagem-perfil">
        <img id="imagem-perfil"  alt="" srcset="">
    </div>
    <div class="deslogar">
        <i id="btn-deslogar" class='bx bx-log-out-circle'></i>
    </div>
</div>

<script src="/js/botoes-navegacao.js"></script>
