<header>
    <div id="main-intro">
        <form action="/" method="get" id="form-title">
            <a href="javascript:document.getElementById('form-title').submit();">
                <div class="title" id="title">Hortifruti PDF</div>
            </a>
        </form>
        <div id="post-info">
            <div class="title" id="oferta-txt">- Ofertas do dia -</div>
            <div>
                <img id="oferta-img" src="/images/oferta-do-dia-3.png" alt="" srcset="">
            </div>
        </div>
    </div>
</header>