<section>
    <div id="content">
        <form action="/frutas" method="post" id="form-frutas">
            <a href="javascript:document.getElementById('form-frutas').submit();">
                <div class="blocos" id="frutas">
                    <h1 class="title">Frutas</h1>
                    <img src="images/frutas.png" alt="">
                </div>
            </a>
        </form>
        <form action="/verduras" method="post" id="form-verduras">
            <a href="javascript:document.getElementById('form-verduras').submit();">
                <div class="blocos" id="verduras">
                    <h1 class="title">Verduras</h1>
                    <img src="images/verduras.png" alt="">
                </div>
            </a>
        </form>
        <form action="/legumes" method="post" id="form-legumes">
            <a href="javascript:document.getElementById('form-legumes').submit();">
                <div class="blocos" id="legumes">
                    <h1 class="title">Legumes</h1>
                    <img src="images/legumes.png" alt="">
                </div>
            </a>
        </form>
    </div>
</section>