<section>
    <div class="nosso-espaco-container">
        <img id="nosso-espaco-img" src="images/nosso-espaco.png" alt="">
        <div class="nosso-espaco">
            <div class="nosso-espaco-titulo">
                <h1>CONHEÇA NOSSO ESPAÇO</h1>
            </div>
            <div class="nosso-espaco-localizacao">
                <i class='bx bxs-been-here'></i>
                <h2 class="title">
                    Rua Avenida da Independência, Centro, 281 - Pau dos Ferros / RN
                    <br>(84) 9 2000-4408 | contato@hortifrutipdf.com</br>
                </h2>
            </div>
        </div>
    </div>

</section>