<section>
    <div id="our-space" class="our-space">
        <img id="nosso-espaco-img" src="images/nosso-espaco.png" alt="">
        <div>
            <h1 class="title">CONHEÇA NOSSO ESPAÇO</h1>
            <div class="locale-content">
                <div class="locale">
                    <img id="fig-locale" src="https://cdn-icons-png.flaticon.com/512/17/17736.png"></img>
                </div>
            </div>
            <div class="endereco">
                <h2 class="title">
                    Rua Avenida da Independência, Centro, 281 - Pau dos Ferros / RN
                    <br>(84) 9 2000-4408 | contato@hortifrutipdf.com</br>
                </h2>
            </div>
        </div>
    </div>
</section>