<footer>
    <div>
        <h1>Developer Pedro Paulo</h1>
        <h2>
            Projeto desenvolvido por Pedro Paulo<br>
            com o objetivo de criar um template para<br>
            uma loja fictícia de Hortifruti.
        </h2>
    </div>
    <div class="redes-sociais-icons">
        <a id="facebook" href="#">
            <i class='bx bxl-facebook'></i>
        </a>
        <a id="instagram" href="#">
            <i class='bx bxl-instagram'></i>
        </a>
        <a id="whatsapp" href="#">
            <i class='bx bxl-whatsapp' ></i>
        </a>
        <a id="github" href="https://github.com/pedropaulodfr/">
            <i class='bx bxl-github' ></i>
        </a>
    </div>
</footer>