{{>cabecalho}}
{{>slide}}

<link rel="stylesheet" href="/css/comprar.css">

<h1 class="nome-secao" style="margin-left: 50px">Produto</h1>
<div class="comprar-produto" id="comprar-produto">
    <div class="img-produto" id="img-produto"></div>
    <div class="info-produto" id="info-produto"></div>
    <div class="valor-total" id="valor-total">
        <h1 style="color: #008d60;">Valor Total</h1>
        <h2 style="color: #000000;" id="campo-valor-total"></h2>
        <input type="submit" class="btn-comprar" value="Comprar">
    </div>
</div>

<script>
    let parametros = {{{parametros}}};
</script>
<script src="/js/comprar.js"></script>

{{>rodape}}

<div id="content-modal-entrega" class="content-modal-entrega">
    <div class="modal-entrega">
        <h1>DADOS DA ENTREGA</h1>
        
        <div class="input-dados">
            <h3>Nome</h3>
            <input type="text" style="width: 600px;">
        </div>       
        <div class="input-dados">
            <h3>CPF</h3>
            <input type="text">
            <h3>Telefone</h3>
            <input type="text">
        </div>
        <div class="input-dados">
            <h3>Rua</h3>
            <input type="text">
            <h3>Número</h3>
            <input type="text">
        </div>
        <div class="input-dados">
            <h3>Bairro</h3>
            <input type="text">
            <h3>Cidade</h3>
            <input type="text">
        </div>
        <div class="input-dados">
            <h3>CEP</h3>
            <input type="text">
        </div>
        <form action="" method="post">
            <input type="submit" class="btn-comprar" value="Confirmar">
        </form>
    </div>
</div>