{{>cabecalho}}

<link rel="stylesheet" href="/css/painel-admin.css">

<table border="1" id="dados-entrega" class="dados-entrega">
    <tr id="cabecalho">
        <td>Data</td>
        <td>Nome</td>
        <td>CPF</td>
        <td>Endereço</td>
        <td>Telefone</td>
        <td>Produto</td>
        <td>Quantidade</td>
        <td>Valor Total</td>
    </tr>
</table>

<script>
    let dadosEntregas = {{{dadosEntregas}}};
</script>

<script src="/js/painel-admin.js"></script>

{{>rodape}}