.content-modal-entrega{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.29);
    z-index: 2000;
}
.content-modal-entrega.mostrar{
    display: flex;
    animation: modal .5s
}
.modal-entrega{
    position: relative;
    width: 60%;
    min-height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
}
#titulo-modal-entrega{
    margin-left: 50px;
    text-align: center;
    color: #008D60;
    padding: 10px;
}
.input-dados-group{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}
.input-dados-group input, h3{
   margin-left: 50px;
}
.campo.erro{
    border: solid 1px red;
}
#btn-confirmar-dados-entrega{
    margin-left: 50vh;
}
.btn-close{
    position: absolute;
    top: 15px;
    right: 20px;
}
.compra-finalizada{
    text-align: center;
}
.compra-finalizada h1{
    margin-top: 100px;
    color: #008D60;
}
.compra-finalizada h2{
    margin-top: 50px;
    color: #008D60;
}
.compra-finalizada input{
    margin-top: 100px;
}