.dados-entrega{
    margin: 20px;
    display: none;
}
.dados-entrega.mostrar{
    display: block;
}
.dados-entrega td{
    padding: 8px;
    border: solid 1px #000000;
}
#cabecalho{
    text-align: center;
    font-weight: bold;
}