.produtos-content{
    position: relative;
    display: inline;
    width: 100vw;
}
.produtos-cabecalho{
    display: inline;
    font-size: 30px;
    color: #008D60;
    text-align: center;
}
.cabecalho-titulo{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.secao-produtos{
    display: inline;
}
.secao-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #008D60;
}
.secao-titulo h1{
    font-size: 33px;
}
.secao-tabela{
    display: inline;
}
.tabelas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cabecalho-tabela{
    font-weight: bold;
}
.tabela-produtos td{
    padding: 8px;
    border: solid 1px #000000;
    text-align: center;
}
.imagem-produto{
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    border: solid 2px #ffffff;
    border-radius: 50%;
}
.btn-editar{
    color: #000000;
    font-size: 22px;
    cursor: pointer;
}
.btn-excluir{
    color: red;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.editar-atributo-container, .confirmar-exclusao-container{
    background-color: #008D60;
    border-radius: 10px;
    max-width: 150px;
}
.editar-atributo-titulo, .confirmar-exclusao-titulo h5{
    color: #ffffff;
    font-size: 12px;
}
.editar-atributo-botoes button{
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    margin-left: 5px;
    margin-bottom: 5px;
    transition: all .3s;
}
.editar-atributo-botoes button:hover{
    transform: scale(1.1);
}
#btn-cancelar{
    color: #ffffff;
    background-color: rgb(255, 93, 93);
}
.novo-valor-container{
    display: flex;
}
.novo-valor-campo{
    width: 100%;
}
.btn-submit-novo-valor {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
    vertical-align: middle;
    padding: 0px;
    color: #ffffff;
    background-color: #008d60;
    border: none;
    border-radius: 5px;
}
.confirmar-exclusao-botoes i{
    font-size: 20px;
    background-color: #ffffff;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-sim{
    color: #008D60;
}
.btn-nao{
    color: red;
}
.ocultar {
    opacity: 0;
    display: none;
}
.mostrar {
    opacity: 1;
    display: block;
}

